body{
    background-image : linear-gradient(to bottom, white, rgb(177, 177, 177)) ;
}

main{
    width: 1200px;
    margin: auto;
}

#logo img {
    width: 150px;
}

header{
    background: url(images/miéeral\ marbre\ gris.jpg);
    background-size:1500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1em;
    font-family: 'Black_Vosten';
    padding-left: 50px;
    text-shadow: 1px 1px 2px black;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* Navigation */

nav{
    position: relative;
    text-shadow: 1px 1px 2px rgb(70, 70, 70);
    font-family: 'Black_Vosten';
    font-size:20px;
}

nav ul{
    list-style-type: none;
    display: flex; 
}

nav li{
    margin-right: 30px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px; 
    text-decoration: none; 
}

nav a:hover {
    color: white;
    border-bottom: 3px solid white;
}

nav a.active{
    color:white;
    text-shadow: 1px 1px 2px black;
}

/* Corps */

#block1{
    display: flex;
    border-top-style: solid ;
    padding-top: 10px;
    padding-bottom : 10px;
    border-color: grey;
    background-color: white;
    color : black;
    text-shadow: 1px 1px 1px grey;
    font-size: 1.2em;
}

#block1 h2{
    border-bottom-style: groove;
    text-align: center;
}

#présentation{
    display: flex;
    align-items: center;
    text-align: justify;
}

#présentation img{
    border-radius: 100px;
    border-style:solid;
    border-color: gray;
}

aside{
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    color: white;
    font-size: 0.8em;
}

#présentation p {
    padding: 20px;
}

#block2{
    background-image: linear-gradient(to bottom, grey, darkgrey);
    border-top-style: solid;
    color:white;
    text-shadow: 1px 1px 1px black;
}

#block2 article{
    display:flex;
    font-size:1.2em;
    justify-content: center;
    text-align: justify;
}

#block2 h2{
    text-align: center;
    font-family: 'Black_Vosten';
    text-transform: uppercase;
    text-decoration: underline;
}

#parcours_scolaire{
    padding-left:30px;
    padding-right:15px;
    width:50%
}

#parcours_scolaire h3{
  text-align: center;
  font-style: italic;
}

#parcours_professionnel{
    padding-left:15px;
    padding-right:30px;
    width:50%
}

#parcours_professionnel h3{
    text-align: center;
    font-style: italic;
  }

#block3{
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: grey;
    color:black;
    text-shadow: 1px 1px 1px grey;
    background-color: white;
}

#block3 article{
    display:flex;
    font-size:1.1em;
    justify-content: center;
    text-align: justify;
}

#block3 h2{
    text-align: center;
    font-family: 'Black_Vosten';
    text-transform: uppercase;
    text-decoration: underline;
}

#soft_skills{
    width:50%;
    padding-left:30px;
    padding-right:15px;
}

#soft_skills h3{
    text-align: center;
    font-style: italic;
}

#hard_skills{
    width:50%;
    padding-left:15px;
    padding-right:30px;
}

#hard_skills h3{
    text-align: center;
    font-style: italic;
}

#hard_skills1{
    padding-left : 70px
}

#hard_skills2{
    padding-left : 89px;
}

#hard_skills3{
    padding-left : 20px
}

#hard_skills progress{
    width: 300px;
}

footer{
    display: flex;
    justify-content: center;
    background: url(images/miéeral\ marbre\ gris.jpg);
    background-size:1500px;
    padding-top:10px;
    padding-bottom: 10px
}

#bouton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
    background-image: linear-gradient(to top left,rgba(0, 0, 0, .2),rgba(0, 0, 0, .2) 30%,rgba(0, 0, 0, 0));                                      
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#bouton:hover {
    background-color: darkgrey;
}

#bouton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/*Mise en forme page "evolution"*/

#portfolio_v1{
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
    max-width: 1200px;
}

@font-face
{
    font-family: 'Black_Vosten';
    src: url('font/black_vosten/Black\ Vosten\ Personal\ Use.ttf');
}